* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #1F2937;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 70%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

/* nav bar */
nav {
    padding: 1em 0em;
}
nav p {
    font-size: 1.5em;
    font-weight: 800;
}
nav, ul {
    display: flex;
    color: #f9faf8;
    justify-content: space-between;
}
ul {
    list-style: none;
    gap: 1em;
}
a {
    text-decoration: none;
}

/*  The rest of the dark header */

.awsome{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

div.left {
    height: 290.25px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h1 {
    color: #f9faf8;
    font-size: 2.5em;
    font-weight: 900;
}
.left p, button {
    color: #e5e7eb;
    padding-right: 26px;
}
button {
    background-color: #3882f6;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 6px;
}

img {
    width: auto;
    height: 290.25px;
}

/* gallery of tiles*/

div.gallery {
    height: 550px;
    background-color: #f9faf8;
    color:#1F2937;
    display: flex;
    flex-direction: column;

}

div.gallery h2 {
    font-size: 36px;
    font-weight: bolder;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

div.tilecollection {
    flex-grow: 1;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;
}

div.tile {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 250px;

    }

    div.tile > img {
       max-width: 250px;
        height: auto;
        border: 4px solid #3882f6;
        border-radius: 24px;
    }
    div.tile > p {
        text-align: center;
        padding-top: 1em;
    }

    /*the quote part*/
    div.quote{
        background-color: #e5e7eb;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.text {
        width: 70%;
        color: #1F2937;
        font-size: 37px;
    }
    p.signature {
        width:max-content;
        margin-left: auto;
        font-size: 25px;
        font-weight: 800;
        padding-top: 1em;
    }

    /* call for action part */
    div.call {
        height: 300px;
        background-color: #f9faf8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.blue {
        width: 70%;
        background-color: #3882f6;
        padding: 25px 50px;
        color: #f9faf8;
        border-radius: 23px;
    }
    div.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div.content {
        width: 80%;
        text-align: center;
    }
    .content h2 {
        padding-bottom: 16px;
    }

    div.container button {
        color:#f9faf8;
        font-size: 1.2em;
        border: 2px solid #f9faf8;

    }

/* footer */
footer {
    height: 70px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    width:fit-content;
}





